@model IEnumerable<ResourcesWebApplication.Models.Devops.Auth>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table bg-white text-dark table-striped">
    <thead class="table bg-dark text-white">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.IPAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Password)
            </th>            
            <th>
                @Html.DisplayNameFor(model => model.CreatedAT)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.IPAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedAT)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="badge bg-white text-dark">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="badge bg-white text-dark">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="badge bg-white text-dark">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
