@model ResourcesWebApplication.Models.Devops.LinuxAgent

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Agent</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Arch)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Arch)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Codename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Codename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Major)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Major)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Minor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Minor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OSName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OSName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Platform)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Uname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Uname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OSVersion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OSVersion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manager)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manager)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Node_name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Node_name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MergedSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MergedSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status_code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status_code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Group_config_status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Group_config_status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Version)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Version)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ip)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ip)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ConfigSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ConfigSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastKeepAlive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastKeepAlive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAdd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAdd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RegisterIP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RegisterIP)
        </dd>
    </dl>
</div>
<div>
    
    <a asp-action="Index">Back to List</a>
</div>
