@model ResourcesWebApplication.Models.Documents.ReadingDocument

@{
    ViewData["Title"] = "Details";
}

@{
    string date = DateTime.Now.ToString("ddd, dd MMM yyy HH':'ss 'GMT'");
}

<h1>Details</h1>

<div>
    <h4>Mark</h4>
    <hr />
    <div class="row">
        <div class="col">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    Document
                </div>
                <div class="card-body bg-light shadow-lg">
                    <dl>
                        <dt  class="bg-light text-dark">Title:</dt>
                        <dd><a href="@Model.Document.Url" class="bg-light text-dark">@Model.Document.Title</a></dd>
                    </dl>
                </div>
                <div class="bg-dark card-footer">
                    <pre class="text-white" style="font-size: 140%;">@Model.Document.CreatedAT</pre>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    <h2>BookMark</h2>
                </div>
                <div class="card-body bg-light shadow-lg">
                    <dl>
                        <div class="row">
                            <div class="col">
                                <dt  class="text-dark">Id:</dt>
                                <dd  class="text-dark">@Model.Reading.Id</dd>   
                            </div>
                            <div class="col">
                                <dt  class="text-dark">Document ID:</dt>
                                <dd  class="text-dark">@Model.Reading.DocumentID</dd>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <dt  class="text-dark">Date AT:</dt>
                                <dd  class="text-dark">@Model.Reading.DateAT</dd>
                            </div>
                            <div class="col">
                                <dt  class="text-dark">Start AT:</dt>
                                <dd  class="text-dark">@Model.Reading.StartAT</dd>
                            </div>
                        </div>
                        <div class="row">   
                            <div class="col">
                                <dt  class="text-dark">End AT:</dt>
                                <dd  class="text-dark">@Model.Reading.EndAT</dd>
                            </div>
                            <div class="col">
                                <dt  class="text-dark">Created AT:</dt>
                                <dd  class="text-dark">@Model.Reading.CreatedAT</dd>
                            </div>
                        </div>
                    </dl>
                </div>
                <div class="card-footer bg-dark">
                    <pre class="text-white" style="font-size: 140%;">@date</pre>
                </div>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Reading.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>