@model ResourcesWebApplication.Models.MachineLearning.Describe

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Describe</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatasetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatasetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Column)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Column)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Count)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Count)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mean)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mean)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Std)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Std)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Min)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Min)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TwentyFivePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TwentyFivePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiftyPercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiftyPercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SeventyFivePercent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SeventyFivePercent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Max)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Max)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAT)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
