@model ResourcesWebApplication.Models.MachineLearning.Correlation

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Correlation</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatasetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatasetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgAreaIncome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgAreaIncome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgAreaHouseAge)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgAreaHouseAge)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgAreaNumberofRooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgAreaNumberofRooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AvgAreaNumberofBedrooms)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AvgAreaNumberofBedrooms)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AreaPopulation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AreaPopulation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAT)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
