@model ResourcesWebApplication.Models.MachineLearning.LogisticRegression

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>LogisticRegression</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatasetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatasetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgeValues)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgeValues)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DropColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DropColumn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DropColumns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DropColumns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DummyColumns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DummyColumns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetColumn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetColumn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgePClassColumns)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgePClassColumns)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedAT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedAT)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
