@model ResourcesWebApplication.Models.MachineLearning.LinearRegression

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>LinearRegression</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.coefficientEndPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.coefficientEndPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.pairplotEndPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.pairplotEndPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.plotByColumnEndPoint)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.plotByColumnEndPoint)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.filename)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.filename)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.datasetName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.datasetName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.xlabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.xlabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ylabel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ylabel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.title)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
