@model ResourcesWebApplication.Models.Servers.Users.Hash

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Hash</h4>
    <hr />
    <div class="card">
        <div class="card-header bg-dark text-white table-hover">
            <h3>Details Hashed Clear String.</h3>
        </div>
        <div class="card-body bg-light">
            <div class="col">
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Value)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Value)
                    </dd>
                </dl>
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedAT)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.CreatedAT)
                    </dd>
                </dl>
            </div>
            <div class="col">
                <dl class="row">
                    <dt class = "col-sm-2">
                        @Html.DisplayNameFor(model => model.Hashed)
                    </dt>
                    <dd class = "col-sm-10">
                        @Html.DisplayFor(model => model.Hashed)
                    </dd>
                </dl>
            </div>
        </div>
        <div class="card-footer">
            <pre id="detailsAT"></pre>
        </div>
    </div>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
